@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #adabab80;
  font-family: "Inter", sans-serif;
}

header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-weight: bold;
}

nav {
  position: fixed;
  width: 68px;
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 80px;
}

nav ul li {
  padding: 15px 15px 12px 15px;
  margin: 0 0 10px 14px;
  cursor: pointer;
}

nav ul li.selected {
  background-image: linear-gradient(to right, #adabab80, #d0cfcf);
  background-color: #d0cfcf;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: inset 8px 0px 6px rgba(0, 0, 0, 0.05);
}

main {
  padding: 5% 0 3% 10%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.main-left {
  display: flex;
  flex-direction: column;
  width: 23%;
}

.main-left .car,
.main-left .more-options {
  width: 100%;
}

.main-left .car {
  margin-bottom: 50px;
  padding: 50px;
  background-color: #fff;
  box-sizing: border-box;
  text-align: center;
  border-radius: 20px;
  padding-bottom: 35px;
}

.car img {
  width: 100%;
}

.main-left .more-options {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.card {
  width: 45%;
  box-sizing: border-box;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}

.card a {
  text-decoration: none;
  color: #00000080;
  padding: 13px;
  display: block;
  font-weight: bold;
}

.card img {
  width: 70%;
}

.main-right {
  width: 70%;
}

.options {
  background-color: #dfdfdf;
  display: flex;
  padding: 50px;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 80px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #00000080;
  font-weight: bold;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  color: #000000;
}

.options ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.options span {
  position: relative;
  bottom: 10px;
  margin-left: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 5px 10px;
}

.options h1 {
  font-size: 2.5rem;
  margin: 0;
}

.options p {
  font-size: 1.1rem;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

.icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  position: relative;
  top: 3px;
}

.active {
  background-color: #34c759;
}

@media (max-width: 1400px) {
  .main-left .temp p,
  .main-left .esc p {
    font-size: 0.7rem;
  }
}

@media (max-width: 1000px) {
  main {
    padding: 7% 0 2% 10%;
  }

  .card-name {
    font-size: .8rem;
  }

  .card a {
    padding: 6px;
  }

  .main-left .more-options {
    gap: 15px;
  }
}

@media (max-height: 735px) {
  .more-options {
    display: none;
  }
}

@media (max-height: 700px) {
  .options {
    margin-top: 0px;
  }
}
